<html>
<head>
<title>IMP301</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link href="{{url_for('static', filename = 'style.css')}}" rel="stylesheet">   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
<div class="header1"><p><h1 align="center">IMP301 project-Image Reconstruction</h1></p></div>
<div class="groupname"><p align="center">Group 1:Lê Trung Hiếu, Nguyễn Hoàng Gia Khang, Đào Công Tuyền</p></div>
<div class="note"><p align="center">Images with a smaller size (300x300) are recommended for fast processing times and avoiding crash.</p></div>
<div class="container">
<div class="row">
    <h2>Select a file to upload</h2>
    <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </p>
    {% if filename %}
        <div class="img">
            <img style="width: 50% ;height: auto;" src="{{ url_for('display_image', filename=filename) }}">
        </div>
        <div class="draw_mask">
            <button><a href="{{ url_for('draw', filename=filename) }}">Draw Mask</a></button>
        </div>
    {% endif %}
    <form method="post" action="/" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file" class="form-control" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit" class="btn btn-info">
        </p>
    </form>
</div>
</div>
</body>
</html>